<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
      xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?define AccessDatabaseEngineMinRelease = 14.0.7015.1000 ?>
  <?define RS232DriverMinRelease = 1.12.0 ?>

  <Bundle Name="OLS CASY 2.5 SERVICE" Version="1.0.0.0" Manufacturer="OMNI Life Science GmbH" UpgradeCode="efe185d6-3e8e-11ea-b77f-2e728ce88125">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseFile="license.rtf"
            LogoFile="logo.png"
            />
    </BootstrapperApplicationRef>

		<Chain>
      <PackageGroupRef Id="NetFx47Redist"/>
      <PackageGroupRef Id="AccessDatabaseEngine2010Redist" After="NetFx47Redist" />
      <PackageGroupRef Id="RS232Adapter" After="AccessDatabaseEngine2010Redist" />
      <MsiPackage After="RS232Adapter"
        Id="OLS.Casy.Service"
        SourceFile="$(var.OLS.Casy.Installer.Service.TargetDir)OLS.Casy.Service.Installer.msi"
    Visible="yes"/>

    </Chain>
	</Bundle>

  <Fragment>
    <util:ProductSearch ProductCode="{90140000-00D1-0409-0000-0000000FF1CE}" Variable="AccessDatabaseEngine"/>

    <WixVariable Id="AccessDatabaseDetectCondition" Value="AccessDatabaseEngine &gt;= v$(var.AccessDatabaseEngineMinRelease)" Overridable="yes" />

    <PackageGroup Id="AccessDatabaseEngine2010Redist">
      <ExePackage Id="AccessDatabaseEngine2010Redist"
              DisplayName="Microsoft Access Database Engine"
              DownloadUrl="http://download.microsoft.com/download/2/4/3/24375141-E08D-4803-AB0E-10F2E3A07AAA/AccessDatabaseEngine.exe"
              Compressed="no"
              Cache="yes"
              PerMachine="yes"
              Permanent="yes"
              Vital="yes"
              SourceFile=".\Access\AccessDatabaseEngine.exe"
              DetectCondition="!(wix.AccessDatabaseDetectCondition)"/>
    </PackageGroup>

    <util:RegistrySearch Root="HKLM"
                         Key="Software\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{ECC3713C-08A4-40E3-95F1-7D0704F1CE5E}"
                         Value="DisplayVersion"
                         Variable="RS232DriverSearch"
                         Win64="yes"/>

    <WixVariable Id="RS232DriverSearchCondition" Value="RS232DriverSearch &gt;= v$(var.RS232DriverMinRelease)" Overridable="yes" />

    <PackageGroup Id="RS232Adapter">
      <ExePackage Id="RS232Adapter"
              DisplayName="RS232 Adapter"
              Compressed="no"
              Cache="yes"
              PerMachine="yes"
              Permanent="yes"
              Vital="yes"
              SourceFile=".\RS232Adapter\Driver\Windows\PL2303_Prolific_DriverInstaller_v1.12.0.exe"
              DetectCondition="!(wix.RS232DriverSearchCondition)" />
    </PackageGroup>

  </Fragment>
</Wix>
