<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true" />
		<add key="log4net.Config.Watch" value="True" />
		<!--<add key="log4net.Config" value="log4net.config" />-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="UseTipTap" value="True" />
	</appSettings>
</configuration>