<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <!--<add name="ActivationContext" connectionString="data source=192.168.110.151;initial catalog=Casy_Activation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="ActivationContext" connectionString="data source=192.168.110.151;initial catalog=Casy_Activation;User ID=sa; Password=ZcM53211QdV963;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>