<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="PDFsharp" version="1.50.4619-beta4c" targetFramework="net47" />
  <package id="PDFsharp-MigraDoc" version="1.50.4619-beta4c" targetFramework="net47" />
  <package id="Polly" version="6.0.1" targetFramework="net47" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>