<log4net>
  <appender name="CustomAdoNetAppender" type="OLS.Casy.Core.Logging.SQLite.EF.CustomAdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.106.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <!--<connectionType value="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite, Version=2.2.6.0, Culture=neutral, PublicKeyToken=adb9793829ddae60" />-->
    <connectionString value="Data Source=.\log.db;Version=3;Password=PASSWORD;" />
    <commandText value="INSERT INTO Log (Date, Level, Logger, Message, User, Category) VALUES (@Date, @Level, @Logger, @Message, @User, @Category)" />
    <parameter>
      <parameterName value="@Date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@Level" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Logger" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@User" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{CasyUser}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Category" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Category}" />
      </layout>
    </parameter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="CustomAdoNetAppender" />
  </root>
</log4net>